// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// jquery-ui
@import '~jquery-ui/themes/base/all.css';

// Fonts
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css');

// Vuetify
@import '~vuetify/dist/vuetify.min.css';


.v-data-table > .v-data-table__wrapper > table > tbody > tr ,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
   font-size: 15px !important;
}
.v-application--wrap {
   min-height: 0vh !important;
 }