<template>
  <div class="content">
    <br>
    <v-app>
      <section class="content">
          <v-card>
            <v-card-title>
              <i class="fas fa-vial mr-1"></i>
                <h3 class="m-0">Actividad | Registros CQ</h3>
              <v-spacer></v-spacer>
              <v-btn class="mx-2" fab dark small color="primary" @click="editItem(editedItem)">
                <v-icon dark>
                  mdi-plus
                </v-icon>
              </v-btn>
              <v-btn class="mx-2" fab dark small color="success" title="Exportar a excel" :disabled="data.length == 0" @click="exportarExcel()">
                <v-icon dark>
                  mdi-file-excel
                </v-icon>
              </v-btn>
              <v-dialog v-model="excel" hide-overlay persistent width="500">
                <v-card color="success" dark>
                  <v-card-text>
                    Exportando a excel....
                    <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                  </v-card-text>
                </v-card>
              </v-dialog>
              <v-btn class="mx-2" fab dark small color="cyan" title="Enviar a Sicafi" :disabled="data.length == 0" @click="enviarSicafi()">
                <v-icon dark>
                    mdi-upload
                </v-icon>
              </v-btn>
              <v-dialog v-model="sicafi" hide-overlay persistent width="500">
                <v-card color="cyan" dark>
                  <v-card-text>
                    Enviando a sicafi....
                    <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </v-card-title>
            <v-card-subtitle>
              <v-row>
                <v-col>
                  <span :hidden="rol == 'Técnico'">
                  <v-menu
                    v-model="menu"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                    >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="desde"
                        label="Inicio"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                        v-model="desde"
                        :max='maximo'
                        @input="getDesde()"
                    ></v-date-picker>
                  </v-menu>
                  </span>
                </v-col>
                <v-col>
                  <span :hidden="rol == 'Técnico'">
                  <v-menu
                    v-model="menuHasta"
                    :close-on-content-click="false"
                    :nudge-right="40"
                    transition="scale-transition"
                    offset-y
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field
                        v-model="hasta"
                        label="Fin"
                        prepend-icon="mdi-calendar"
                        readonly
                        v-bind="attrs"
                        v-on="on"
                        :disabled="disabledHasta"
                      ></v-text-field>
                    </template>
                    <v-date-picker
                        v-model="hasta"
                        :max='maximo'
                        @input="getHasta()"
                    ></v-date-picker>
                  </v-menu>
                  </span>
                  <v-snackbar
                    v-model="snackbar"
                    :timeout="timeout"
                  >
                    {{ text }}                    
                  </v-snackbar>
                </v-col>
                <v-col>
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Buscar.."
                    single-line
                    hide-details
                  ></v-text-field>
                </v-col>
              </v-row>  
            </v-card-subtitle>
              <v-data-table
              v-model="selected"
              :headers="headers"
              :items="data"
              :single-select="singleSelect"
              item-key="id"
              show-select
              class="elevation-1"
              locale="es"
              :loading="loading"
              :search="search"
            >
              <template v-slot:item.data-table-select="{ item, isSelected, select }">
                <v-simple-checkbox
                  :value="isSelected"
                  :readonly="item.sicafi == 2"
                  :disabled="item.sicafi == 2"
                  :hidden="item.sicafi == 2"
                  @input="select($event)"
                ></v-simple-checkbox>
              </template>
              <template v-slot:top>   
                <v-dialog v-model="dialog" persistent max-width="900px" >
                    <v-card>
                      <v-card-title class="green black--text">
                        <span class="text-h5">{{ formTitle }}</span>
                      </v-card-title>
                      <v-card-text>
                        <v-container>
                          <v-form
                            ref="form"
                            v-model="valid"
                            lazy-validation
                          >
                          <v-row>
                            <v-col cols="6" sm="6" md="6" >
                              <v-menu
                              :disabled="editedIndex != -1"
                                ref="menuCaptura"
                                v-model="menuCaptura"
                                :close-on-content-click="false"
                                :return-value.sync="editedItem.fecha"
                                transition="scale-transition"
                                offset-y
                                min-width="auto"
                              >
                                <template v-slot:activator="{ on, attrs }">
                                  <v-text-field
                                    v-model="editedItem.fecha"
                                    label="Inicio"
                                    prepend-icon="mdi-calendar"
                                    readonly
                                    v-bind="attrs"
                                    v-on="on"
                                    :rules="fechaRules"
                                    required
                                  ></v-text-field>
                                </template>
                                <v-date-picker 
                                :disabled="editedIndex != -1"
                                  v-model="editedItem.fecha"
                                  no-title
                                  scrollable
                                  :min='minimo'
                                  :max='maximo'
                                >
                                <v-spacer></v-spacer>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="menuCaptura = false"
                                >
                                  Cancel
                                </v-btn>
                                <v-btn
                                  text
                                  color="primary"
                                  @click="$refs.menuCaptura.save(editedItem.fecha)"
                                >
                                OK
                                </v-btn>
                                </v-date-picker>
                              </v-menu>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-select v-if="editedIndex == -1" :items="users" v-model="editedItem.user" :disabled="editedIndex != -1" @change="getTrampas(editedItem.user)" item-text="nombre" item-value="id" label="Usuarios" required></v-select>
                              <v-text-field v-if="editedIndex != -1" v-model="editedItem.nombre" readonly label="Usuario"></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-select v-if="editedIndex == -1" :rules="huertasRules" :items="huertas" v-model="editedItem.huerta" :disabled="editedIndex != -1" item-text="Huerta" item-value="Id" label="Huerta" @change="getSuperficie()"  required></v-select>
                              <v-text-field v-if="editedIndex != -1" v-model="editedItem.name" readonly label="Huerta"></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-select :items="controles" v-model="editedItem.control" :rules="controlRules" item-text="name" label="Tipo control" required></v-select>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-text-field v-model="editedItem.dosis" :rules="dosisRules" label="Dosis" required></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-select :items="tipos" v-model="editedItem.tipo" :rules="tiposRules" item-text="name" label="Tipo aplicación" required></v-select>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-text-field v-model="editedItem.superficie" :rules="superficieRules" label="Superficie" required></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-text-field v-model="editedItem.plantas" :rules="plantasRules" label="# Plantas" required></v-text-field>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-select :items="productos" v-model="editedItem.producto" :rules="productoRules" item-text="name" label="Producto" required></v-select>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-select :items="biologicos" v-model="editedItem.biologico" :rules="biologicoRules" item-text="name" label="Control biológico" required></v-select>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-select :items="aplicaciones" v-model="editedItem.aplicacion" :rules="aplicacionRules" item-text="name" label="No. Aplicación" required></v-select>
                            </v-col>
                            <v-col cols="6" sm="6" md="6" >
                              <v-text-field v-model="editedItem.productores" :rules="productoresRules" label="No. productores" required></v-text-field>
                            </v-col>
                          </v-row>
                          </v-form>
                        </v-container>
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue-grey" class="ma-2 white--text" @click="close">
                            Cancelar
                          <v-icon right dark>
                            mdi-cancel
                          </v-icon>
                        </v-btn>
                        <v-btn :loading="loading3" :disabled="!valid" color="success" class="ma-2 white--text" @click="save">
                            Guardar
                          <v-icon right dark>
                            mdi-content-save
                          </v-icon>
                        </v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-dialog v-model="dialogDelete" max-width="500px" height="500vh">
                    <v-card>
                      <v-card-title class="text-h5">¿Seguro que desea eliminar esta captura?</v-card-title>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                          <v-btn tile color="red" class="ma-2 white--text" @click="closeDelete">
                            No
                          </v-btn>
                          <v-btn :loading="loading3" tile color="success" class="ma-2 white--text" @click="deleteItemConfirm">
                            Si
                          </v-btn>
                        <v-spacer></v-spacer>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                </v-dialog>
              </template>
              <template v-slot:item.actions="{ item }">
                <v-btn v-if='item.sicafi == 0' class="mr-2" fab dark small color="warning" @click="editItem(item)">
                  <v-icon dark>
                    mdi-pencil
                  </v-icon>
                </v-btn>
                <v-btn v-if='item.sicafi == 0' class="mr-2" fab dark small color="red" @click="deleteItem(item)">
                  <v-icon dark>
                    mdi-delete
                  </v-icon>
                </v-btn>
              </template>  
              <template v-slot:item.instalada="{ item }">
                <v-chip
                  :color="getColor(item.instalada)"
                  dark
                >
                  {{ item.instalada }}
                </v-chip>
              </template>     
              <template v-slot:item.status="{ item }">
                <v-chip
                  class="ma-2"
                  :color="getStatus(item.sicafi)"
                  dark
                  label
                >
                  <span v-if="item.sicafi == 0">
                    <v-avatar left>
                      <v-icon>mdi-alert</v-icon>
                    </v-avatar>
                    Sin enviar
                  </span>
                  <span v-if="item.sicafi == 1">
                    <v-avatar left>
                      <v-icon>mdi-bookmark-check</v-icon>
                    </v-avatar>
                    En SICAFI
                  </span>
                  <span v-if="item.sicafi == 2">
                    <v-avatar left>
                      <v-icon>mdi-reload</v-icon>
                    </v-avatar>
                    En proceso
                  </span>
                </v-chip>
              </template>                     
            </v-data-table>
          </v-card>                      
        </section>
      </v-app>
  </div>
</template>
<script>
    import moment from "moment";

    export default {
      mounted() {
          this.getData();
          this.location();
      },
      data () {
        return {        
          name: '',
          valid: true,    
          fechaRules: [
            v => !!v || 'Tiene que seleccionar fecha',
          ],
          huertasRules: [
            v => !!v || 'Tiene que seleccionar huerta',
          ],
          controlRules: [
            v => !!v || 'Tiene que seleccionar control',
          ],
          dosisRules: [
            v => !!v || 'Tiene que insertar dosis',
            v => (v && v.length <= 10) || 'Debe tener menos de 10 caracteres',
          ],
          tiposRules: [
            v => !!v || 'Tiene que seleccionar tipo',
          ],
          superficieRules: [
            v => !!v || 'Tiene que insertar superficie',
            v => (v <= this.superficie) || 'La superficie no puede ser mayor a la del campo ',
            v => (v && v.length <= 10) || 'Debe tener menos de 10 caracteres',
          ],
          plantasRules: [
            v => !!v || 'Tiene que insertar plantas',
            v => (v && v.length <= 10) || 'Debe tener menos de 10 caracteres',
          ],
          productoRules: [
            v => !!v || 'Tiene que seleccionar producto',
          ],
          biologicoRules: [
            v => !!v || 'Tiene que seleccionar biológico',
          ],
          aplicacionRules: [
            v => !!v || 'Tiene que seleccionar aplicación',
          ],
          productoresRules: [
            v => !!v || 'Tiene que insertar productores',
            v => (v && v.length <= 10) || 'Debe tener menos de 10 caracteres',
          ],

          loading3: false,
          dialog: false,
          dialogDelete: false,
          motivo: true,
          sicafi: false,
          excel: false,
          superficie: 0,
          menu: '',
          menuHasta: '',
          menuCaptura:'',
          desde:  moment().startOf('week').format('YYYY-M-DD'),
          hasta:  moment().endOf('week').format('YYYY-M-DD'),
          minimo: moment().startOf('week').format('YYYY-MM-DD'),
          maximo: moment().format('YYYY-MM-DD'),
          disabledHasta : true,
          loading: true,
          search: '',
          singleSelect: false,
          selected: [],
          headers: [
            { text: 'Huerta', value: 'name', align: 'left', class: 'green' },
            { text: 'Fecha', value: 'fecha', class: 'green' },
            { text: 'Tipo Control', value: 'tipoControl', class: 'green' },
            { text: 'Producto', value: 'producto_text', class: 'green' },
            { text: 'No. Plantas', value: 'plantas', class: 'green' },   
            { text: 'Tipo Aplicación', value: 'tipoAplicacion', class: 'green' }, 
            { text: 'Biológico', value: 'controlBiologico', class: 'green' }, 
            { text: 'Dosis', value: 'dosis', class: 'green' }, 
            { text: 'Metodo', value: 'metodo_tex', class: 'green' },   
            { text: 'Estado', value: 'status', class: 'green' }, 
            { text: '', value: 'actions', sortable: false, class: 'green' },
          ],
          data: [],
          editedIndex: -1,
          editedItem: {
            id : '',
            siembra_id: '',
            tipo: 0,
            control: 0,
            dosis: '',
            superficie: 0,
            plantas: '',
            producto: 0,
            user: 0,
            biologico: 0,
            aplicacion: 0,
            productores: '',
            name : '',
            fecha: '',
            latitud : '',
            longitud : '',
            accuracy : ''           
          },
          huertas: [],
          controles:  [],
          tipos: [],
          productos: [],
          biologicos: [],
          aplicaciones: [],
          users:   [],
          trampas: [],
          snackbar: false,
          text : '',
          timeout: 4000,
        }
      },
      watch: {
        options: {
          handler () {
            this.getData()
          },
          deep: true,
        },
        dialog (val) {
          val || this.close()
        },
        dialogDelete (val) {
          val || this.closeDelete()
        },
      },
      props: [ 'rol','user_id' ],
      created: function(){

      },
      computed: {
        formTitle () {
          return this.editedIndex === -1 ? 'Nueva Captura' : 'Editar Captura'
        },
      },
      methods : {
        getData(){
          this.loading = true
          var url = route('capturas-control');
          let data = {
              desde : this.desde,
              hasta : this.hasta
          }
          axios.post(url, data).then(response =>{
            this.data = response.data.data;
            this.loading = false;
          }).catch(error =>{

          });
        },
        getColor(instalada) {
          if (instalada == 1) return 'green'
          else if (instalada == 0) return 'red'
          else return 'orange'
        },
        getStatus(status) {
          if (status == 1) return 'green'
          else if (status == 2) return 'red'
          else return 'orange'
        },
        editItem(item) {
          this.editedItem.fecha = moment().format('YYYY-MM-DD');
          if(this.rol == 'Técnico'){
            item.user = this.user_id;
            this.getTrampas(this.user_id);
          }     
          
          this.getHuertas();
          this.getTipoControl();
          this.getTipoAplicacion();
          this.getNoAplicacion();
          this.getProducto();
          this.getBiologico();
          this.getUser();

          this.editedIndex = this.data.indexOf(item)
          this.editedItem = Object.assign({}, item)
          this.editedItem.control = parseInt(item.control);
          this.editedItem.aplicacion = parseInt(item.aplicacion);
          this.superficie = item.superficie;
          this.editedItem.producto = parseInt(item.producto);
          this.editedItem.tipo = parseInt(item.tipo);
          this.editedItem.biologico = parseInt(item.biologico);
          this.editedItem.productores = String(item.productores);
          this.editItem.user = parseInt(this.user_id);

          this.dialog = true
        },
        close() {
          this.$refs.form.reset();    
          this.dialog = false
          this.trampas = [];

          this.editedItem.id = '';
          this.editedItem.siembra_id = '';
          this.editedItem.tipo = 0;
          this.editedItem.control = 0;
          this.editedItem.dosis = 0;
          this.editedItem.plantas = 0;
          this.editedItem.producto = 0;
          this.editedItem.user = 0;
          this.editedItem.biologico = 0;
          this.editedItem.aplicacion = 0;
          this.editedItem.productores = 0;
          this.editedItem.name = '';
          this.editedIndex = -1    
        },
        save() {
          let validar = this.$refs.form.validate();
          let edit;
          let fecha;
          let ano;
          let mes;
          let semana;
          //-1 nuevo 
          if(this.editedIndex > -1){
            edit = 1
            fecha = moment(this.editedItem.fecha,'DD-MM-YYYY').format('YYYY-MM-DD')
            ano =   moment(this.editedItem.fecha,'DD-MM-YYYY').format('YYYY')
            mes =   moment(this.editedItem.fecha,'DD-MM-YYYY').format('M')
            semana =   moment(this.editedItem.fecha,'DD-MM-YYYY').format('W')
          }
          else{
            edit = 0
            fecha = moment(this.editedItem.fecha,'YYYY-MM-DD').format('YYYY-MM-DD')
            ano =   moment(this.editedItem.fecha).format('YYYY')
            mes =   moment(this.editedItem.fecha,'DD-MM-YYYY').format('M')
            semana =   moment(this.editedItem.fecha,'DD-MM-YYYY').format('W')
          }            
                  
          let data = {
            id : this.editedItem.id,
            fecha: fecha,
            ano : ano,
            mes : mes,
            semana : semana, 
            edit : edit,
            latitud :  this.editedItem.latitud,
            longitud : this.editedItem.longitud,
            accuracy : this.editedItem.accuracy,
            captura_id : this.editedItem.id,
            trampa_id : this.editedItem.huerta,
            aplicacion : this.editedItem.tipo,
            tipoControl : this.editedItem.control,
            dosis : this.editedItem.dosis,
            superficie: this.editedItem.superficie,
            plantas : this.editedItem.plantas,
            producto : this.editedItem.producto,
            user_id : this.editedItem.user,
            control : this.editedItem.biologico,
            no_aplicacion : this.editedItem.aplicacion,
            productores : this.editedItem.productores,
            name : this.editedItem.name, 
            method : 2     
          };


          if(validar == true){
            this.loading3 = true;

            if(edit = 1){
              var url = route('update-captura-control',[ this.editedItem.id ])
            }
            else{
              var url = route('add-captura-control');
            }
            axios.post(url,data).then(response => {
              if(response.data.status == 'success')
              {
                this.getData();
                this.loading3 = false;
                this.close();
                this.snackbar = true;
                this.text = "Captura actualizada."
                this.trampas = [];
              }
            }).catch(error => { 
              console.log(error); 
              this.loading3 = false;
            });
          }
        },
        deleteItem(item){
          this.editedIndex = this.data.indexOf(item)
          this.editedItem = Object.assign({}, item)
          this.dialogDelete = true
        },
        deleteItemConfirm(){    
          this.loading3 = true;   
          var url = route('delete-captura-control');
          let data = {
              captura_id : this.editedItem.id,
          }
          axios.post(url, data).then(response =>{
            if(response.data.estatus == true){
              this.data.splice(this.editedIndex, 1) 
              this.closeDelete()
              this.snackbar = true;
              this.text = "Captura eliminada"
              this.loading3 = false;
            }
            else{
              this.closeDelete()
              this.snackbar = true;
              this.text = "ocurrió un problema al eliminar"
              this.loading3 = false;
            }
          }).catch(error =>{
              this.closeDelete()
              this.snackbar = true;
              this.text = "ocurrió un problema al eliminar"
              this.loading3 = false;
          });
        },
        closeDelete(){
          this.dialogDelete = false
          this.trampas = [];
          this.$nextTick(() => {
            this.editedIndex = -1
          })
        },
        getHuertas(){
          var url = route('getTrampas.control');

          let data = {
              fecha : this.editedItem.fecha,
              user_id : this.editedItem.user
          }
          axios.post(url, data).then(response =>{
            this.huertas = response.data;
          }).catch(error =>{

          });         
        },    
        getTipoControl(){
          var url = route('getTipo.control');
          axios.get(url).then(response => {
            this.controles = response.data;
          }).catch(error =>{ 
            console.log(error); 
          });
        },
        getTipoAplicacion(){
          var url = route('getTipo.aplicacion');
          axios.get(url).then(response => {
            this.tipos = response.data;
          }).catch(error =>{ 
            console.log(error); 
          });
        },
        getNoAplicacion(){
          var url = route('getNumero.aplicacion');
          axios.get(url).then(response => {
            this.aplicaciones = response.data;
          }).catch(error =>{ 
            console.log(error); 
          });
        },
        getProducto(){
          var url = route('get.producto');
          axios.get(url).then(response => {
            this.productos = response.data;
          }).catch(error =>{ 
            console.log(error); 
          });
        },
        getBiologico(){
          var url = route('getControl.biologico');
          axios.get(url).then(response => {
            this.biologicos = response.data;
          }).catch(error =>{ 
            console.log(error); 
          });
        },
        getUser(){
          var url = route('get-users');
          axios.get(url).then(response => {
            this.users = response.data;     
          }).catch(error => { 
            console.log(error); 
          });
        },
        getTrampas(user){
          var url = route('getTrampas');         
          let data = {
            user_id : user,
            edit : 0
          }
          axios.post(url,data).then(response => {
            this.trampas = response.data;
          }).catch(error => { 
            console.log(error); 
          });
        },
        getSuperficie(){
          let id = this.editedItem.huerta;
          var url = route('getTrampas.superficie');

          let data = {
            id : id,
            fecha : this.editedItem.fecha,
            user_id : this.editedItem.user
          }

          axios.post(url,data).then(response => {
            this.editedItem.superficie = response.data.Superficie;
            this.superficie = response.data.Superficie;
          }).catch(error => { 
            console.log(error); 
          });
        },
        getDesde(){
          this.menu = false;
          this.getData()
          this.disabledHasta = false;
        },
        getHasta(){
          let fecha = moment(this.hasta).isBefore(this.desde);
          if(fecha == true){
            this.snackbar = true;
            this.text = "La fecha de inicio no puede ser mayor que la de fin."
          }
          else{
            this.menuHasta = false;
            this.disabledHasta = false;
            this.getData()
          }
        },
        getRevisar(){
          if(this.editedItem.revisada == 0){
            this.motivo = false;
          }
          else{
            this.editedItem.motivo = 0; 
            this.motivo = true;
          }
        },
        enviarSicafi(){
          let filtrar = this.selected;
          filtrar.map(function(response,index){
              if(response.sicafi == 2 || response.sicafi == 1){
                filtrar.splice(index,1);
              }
          })
          if(filtrar.length == 0){
            this.snackbar = true;
            this.text = "No se seleccionó ningún registro para enviar a la capa de datos."
          }
          else{
            this.sicafi = true;
          }
        },
        exportarExcel(){
          this.excel = true;
          var url = route('actividad-control-exports',[ this.desde, this.hasta ]);         
          axios.get(url,{ responseType: 'blob' }).then(response => {
            this.excel = false;
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(
              new Blob([response.data])
            );
            link.setAttribute('download', 'capturas.xlsx');
            document.body.appendChild(link);
            link.click();
          }).catch(error => { 
            this.excel = false;
            this.snackbar = true;
            this.text = "Ocurrió un error"
          });
        },
        location(){
          this.$getLocation({
            enableHighAccuracy: false, //defaults to false
            timeout: Infinity, //defaults to Infinity
            maximumAge: 0 //defaults to 0           
          }).then(coordinates => {
            this.editedItem.latitud = coordinates.lat;
            this.editedItem.longitud = coordinates.lng;
            this.editedItem.accuracy = coordinates.accuracy;
          });
        }
      },      
    }
</script>
