<template>
  <div class="content">
    <br>
    <v-app>
      <section class="content">
        <v-card>
          <v-card-title>
            <i class="fas fa-tree mr-1"></i>
              <h3 class="m-0">Actividad | Registros</h3>
            <v-spacer></v-spacer>
            <v-btn class="mx-2" fab dark small color="primary" @click="editItem(editedItem)">
              <v-icon dark>
                mdi-plus
              </v-icon>
            </v-btn>
            <v-btn class="mx-2" fab dark small color="success" title="Exportar a excel" :disabled="data.length == 0" @click="exportarExcel()">
              <v-icon dark>
                mdi-file-excel
              </v-icon>
            </v-btn>
            <v-dialog v-model="excel" hide-overlay persistent width="500">
              <v-card color="success" dark>
                <v-card-text>
                  Exportando a excel....
                  <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card-text>
              </v-card>
            </v-dialog>
            <v-btn class="mx-2" fab dark small color="cyan" title="Enviar a Sicafi" :disabled="data.length == 0" @click="enviarSicafi()">
              <v-icon dark>
                  mdi-upload
              </v-icon>
            </v-btn>
            <v-dialog v-model="sicafi" hide-overlay persistent width="500">
              <v-card color="cyan" dark>
                <v-card-text>
                  Enviando a sicafi....
                  <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card-text>
              </v-card>
            </v-dialog>
          </v-card-title>
          <v-card-subtitle>
            <v-row>
              <v-col>
                <span :hidden="rol == 'Técnico'">
                <v-menu
                  v-model="menu"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                  >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="desde"
                      label="Inicio"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                      v-model="desde"
                      :max='maximo'
                      @input="getDesde()"
                  ></v-date-picker>
                </v-menu>
                </span>
              </v-col>
              <v-col>
                <span :hidden="rol == 'Técnico'">
                <v-menu
                  v-model="menuHasta"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      v-model="hasta"
                      label="Fin"
                      prepend-icon="mdi-calendar"
                      readonly
                      v-bind="attrs"
                      v-on="on"
                      :disabled="disabledHasta"
                    ></v-text-field>
                  </template>
                  <v-date-picker
                      v-model="hasta"
                      :max='maximo'
                      @input="getHasta()"
                  ></v-date-picker>
                </v-menu>
                </span>
                <v-snackbar
                  v-model="snackbar"
                  :timeout="timeout"
                >
                  {{ text }}                    
                </v-snackbar>
              </v-col>
              <v-col>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Buscar.."
                  single-line
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>  
          </v-card-subtitle>
          <v-data-table
            v-model="selected"
            :headers="headers"
            :items="data"
            :single-select="singleSelect"
            item-key="id"
            show-select
            class="elevation-1"
            locale="es"
            :loading="loading"
            :search="search"
          >
            <template v-slot:item.data-table-select="{ item, isSelected, select }">
              <v-simple-checkbox
                :value="isSelected"
                :readonly="item.sicafi == 2"
                :disabled="item.sicafi == 2"
                :hidden="item.sicafi == 2"
                @input="select($event)"
              ></v-simple-checkbox>
            </template>
            <template v-slot:top>   
              <v-dialog v-model="dialog" persistent max-width="900px" >
                  <v-card>
                    <v-card-title class="orange black--text">
                      <span class="text-h5">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container>
                        <v-form
                          ref="form"
                          v-model="valid"
                          lazy-validation
                        >
                        <v-row>
                          <v-col cols="6" sm="6" md="6" >
                            <v-menu
                            :disabled="editedIndex != -1"
                              ref="menuCaptura"
                              v-model="menuCaptura"
                              :close-on-content-click="false"
                              :return-value.sync="editedItem.fecha"
                              transition="scale-transition"
                              offset-y
                              min-width="auto"
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-text-field
                                  v-model="editedItem.fecha"
                                  label="Inicio"
                                  prepend-icon="mdi-calendar"
                                  readonly
                                  v-bind="attrs"
                                  v-on="on"
                                  :rules="fechaRules"
                                  required
                                ></v-text-field>
                              </template>
                              <v-date-picker 
                              :disabled="editedIndex != -1"
                                v-model="editedItem.fecha"
                                no-title
                                scrollable
                                :min='minimo'
                                :max='maximo'
                              >
                              <v-spacer></v-spacer>
                              <v-btn
                                text
                                color="primary"
                                @click="menuCaptura = false"
                              >
                                Cancel
                              </v-btn>
                              <v-btn
                                text
                                color="primary"
                                @click="$refs.menuCaptura.save(editedItem.fecha)"
                              >
                              OK
                              </v-btn>
                              </v-date-picker>
                            </v-menu>
                          </v-col>
                          <v-col cols="6" sm="6" md="6" >
                            <v-select v-if="editedIndex == -1" :items="users" v-model="editedItem.user" :disabled="editedIndex != -1" @change="getTrampas(editedItem.user)" item-text="nombre" item-value="id" label="Usuarios" required></v-select>
                            <v-text-field v-if="editedIndex != -1" v-model="editedItem.nombre" readonly label="Usuario"></v-text-field>
                          </v-col>
                          <v-col cols="6" sm="6" md="6" >
                            <v-select v-if="editedIndex == -1" :rules="trampasRules" :items="trampas" v-model="editedItem.trampa" :disabled="editedIndex != -1" item-text="name" label="Trampas" required></v-select>
                            <v-text-field v-if="editedIndex != -1" v-model="editedItem.name" readonly label="Trampa"></v-text-field>
                          </v-col>
                          <v-col cols="6" sm="6" md="6" >
                            <v-select :items="arboles" v-model="editedItem.fenologia" :rules="fenologiasRules" item-text="name" label="Fenologías" required></v-select>
                          </v-col>
                          <v-col cols="6" sm="6" md="6" >
                            <v-text-field v-model="editedItem.captura" :rules="capturaRules" label="Número de adultos" :required="editedItem.revisada == false"></v-text-field>
                          </v-col>
                          <v-col cols="6" sm="6" md="6" >
                            <v-switch color='orange' v-model="editedItem.instalada" inset label="Instalada"></v-switch>
                          </v-col>
                          <v-col cols="6" sm="6" md="6" >
                            <v-switch color='orange' v-model="editedItem.revisada" @change="getRevisar()"  inset label="Revisada"></v-switch>
                          </v-col>
                          <v-col cols="6" sm="6" md="6" >
                            <v-select :disabled="motivo" :items="motivos" v-model="editedItem.motivo" item-text="name" label="Motivo"></v-select>
                          </v-col>
                        </v-row>
                        <v-divider color="orange"></v-divider>
                        <label class="title orange--text">Árbol</label>
                        <v-simple-table >
                          <template v-slot:default>
                            <thead>
                              <tr>
                                <th class="text-left">
                                  
                                </th>
                                <th class="text-left">
                                  <label class="h6">Adultos</label>
                                </th>
                                <th class="text-left">
                                  <label class="h6">Ninfas</label>
                                </th>
                                <th class="text-left">
                                  <label class="h6">Fenología</label>
                                </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>                                  
                                  <label class="h6">Norte</label>                                  
                                </td>
                                <td class="text-center">
                                  <v-switch color='orange' v-model="editedItem.noa" inset ></v-switch>
                                </td>
                                <td>
                                  <v-switch color='orange' v-model="editedItem.non" inset ></v-switch>
                                </td>
                                <td>
                                  <v-select
                                    :items="brotes"
                                    label="Seleccione"
                                    item-text="name"
                                    v-model="editedItem.nof"
                                    :rules="arbolRules"
                                    required
                                  ></v-select>
                                </td>
                              </tr>
                              <tr>
                                <td>                                  
                                  <label class="h6">Sur</label>                                  
                                </td>
                                <td class="text-center">
                                  <v-switch color='orange' v-model="editedItem.sua" inset ></v-switch>
                                </td>
                                <td>
                                  <v-switch color='orange' v-model="editedItem.sun"  inset ></v-switch>
                                </td>
                                <td>
                                  <v-select
                                    :items="brotes"
                                    label="Seleccione"
                                    item-text="name"
                                    v-model="editedItem.suf"
                                    :rules="arbolRules"
                                    required
                                  ></v-select>
                                </td>
                              </tr>
                              <tr>
                                <td>                                  
                                  <label class="h6">Este</label>                                  
                                </td>
                                <td class="text-center">
                                  <v-switch color='orange' v-model="editedItem.esa" inset ></v-switch>
                                </td>
                                <td>
                                  <v-switch color='orange' v-model="editedItem.esn" inset ></v-switch>
                                </td>
                                <td>
                                  <v-select
                                    :items="brotes"
                                    label="Seleccione"
                                    item-text="name"
                                    v-model="editedItem.esf"
                                    :rules="arbolRules"
                                    required
                                  ></v-select>
                                </td>
                              </tr>
                              <tr>
                                <td>                                  
                                  <label class="h6">Oeste</label>                                  
                                </td>
                                <td class="text-center">
                                  <v-switch color='orange' v-model="editedItem.oea" inset ></v-switch>
                                </td>
                                <td>
                                  <v-switch color='orange' v-model="editedItem.oen" inset ></v-switch>
                                </td>
                                <td>
                                  <v-select
                                    :items="brotes"
                                    label="Seleccione"
                                    item-text="name"
                                    v-model="editedItem.oef"
                                    :rules="arbolRules"
                                    required
                                  ></v-select>
                                </td>
                              </tr>
                            </tbody>
                          </template>
                        </v-simple-table>
                        </v-form>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue-grey" class="ma-2 white--text" @click="close">
                          Cancelar
                        <v-icon right dark>
                          mdi-cancel
                        </v-icon>
                      </v-btn>
                      <v-btn  :loading="loading3" :disabled="!valid" color="orange" class="ma-2 white--text" @click="save">
                          Guardar
                        <v-icon right dark>
                          mdi-content-save
                        </v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px" height="500vh">
                  <v-card>
                    <v-card-title class="text-h5">¿Seguro que desea eliminar esta captura?</v-card-title>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                        <v-btn tile color="red" class="ma-2 white--text" @click="closeDelete">
                          No
                        </v-btn>
                        <v-btn :loading="loading3" tile color="success" class="ma-2 white--text" @click="deleteItemConfirm">
                          Si
                        </v-btn>
                      <v-spacer></v-spacer>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-dialog>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-btn v-if='item.sicafi == 0' class="mr-2" fab dark small color="warning" @click="editItem(item)">
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>
              <v-btn v-if='item.sicafi == 0' class="mr-2" fab dark small color="red" @click="deleteItem(item)">
                <v-icon dark>
                  mdi-delete
                </v-icon>
              </v-btn>
            </template>  
            <template v-slot:item.instalada="{ item }">
              <v-chip
                :color="getColor(item.instalada)"
                dark
              >
                {{ item.instalada }}
              </v-chip>
            </template>     
            <template v-slot:item.status="{ item }">
              <v-chip
                class="ma-2"
                :color="getStatus(item.sicafi)"
                dark
                label
              >
                <span v-if="item.sicafi == 0">
                  <v-avatar left>
                    <v-icon>mdi-alert</v-icon>
                  </v-avatar>
                  Sin enviar
                </span>
                <span v-if="item.sicafi == 1">
                  <v-avatar left>
                    <v-icon>mdi-bookmark-check</v-icon>
                  </v-avatar>
                  En SICAFI
                </span>
                <span v-if="item.sicafi == 2">
                  <v-avatar left>
                    <v-icon>mdi-reload</v-icon>
                  </v-avatar>
                  En proceso
                </span>
              </v-chip>
            </template>                     
          </v-data-table>
        </v-card>                      
      </section>
    </v-app>
  </div>
</template>
<script>
    import moment from "moment";

    export default {
      mounted() {
          this.getData();
      },
      data () {
        return {  
          name: '',
          valid: true,    
          fechaRules: [
            v => !!v || 'Tiene que seleccionar fecha',
          ],
          trampasRules: [
            v => !!v || 'Tiene que seleccionar trampa',
          ],
          fenologiasRules: [
            v => !!v || 'Tiene que seleccionar fenología',
          ],
          arbolRules: [
            v => !!v || 'Tiene que seleccionar fenología',
          ],
          capturaRules: [
            v => !!v || 'Tiene que insertar captura',
          ],
          loading3: false,
          dialog: false,
          dialogDelete: false,
          motivo: true,
          sicafi: false,
          excel: false,
          menu: '',
          menuHasta: '',
          menuCaptura:'',
          desde:  moment().startOf('week').format('YYYY-M-DD'),
          hasta:  moment().endOf('week').format('YYYY-M-DD'),
          minimo: moment().startOf('week').format('YYYY-MM-DD'),
          maximo: moment().format('YYYY-MM-DD'),
          disabledHasta : true,
          loading: true,
          search: '',
          singleSelect: false,
          selected: [],
          headers: [
            { text: 'SiembraID', value: 'siembra_id', align: 'left', class: 'orange' },
            { text: 'Fecha', value: 'fecha', class: 'orange' },
            { text: 'Trampa', value: 'name', class: 'orange' },
            { text: 'Técnico', value: 'nombre', class: 'orange' },
            { text: 'Captura', value: 'captura', class: 'orange' },
            { text: 'Instalada', value: 'instalada', class: 'orange' },
            { text: 'Fenología', value: 'fenologia_text', class: 'orange' },
            { text: 'Método', value: 'metodo_tex', class: 'orange' },   
            { text: 'Estado', value: 'status', class: 'orange' }, 
            { text: '', value: 'actions', sortable: false, class: 'orange' },
          ],
          data: [],
          editedIndex: -1,
          editedItem: {
            id : '',
            siembra_id: '',
            captura: 0,
            instalada: 0,
            revisada: 1,
            fenologia: 0,
            tecnico: 0,
            motivo: 0,
            user: 0,
            trampa: 0,
            name : '',
            fecha: '',
            noa: 0,
            non: 0,
            nof: 0,
            sua: 0,
            sun: 0,
            suf: 0,
            esa: 0,
            esn: 0,
            esf: 0,
            oea: 0,
            oen: 0,
            oef: 0
          },
          arboles: [],
          brotes:  [],
          motivos: [],
          users:   [],
          trampas: [],
          snackbar: false,
          text : '',
          timeout: 4000,
        }
      },
      watch: {
        options: {
          handler () {
            this.getData()
          },
          deep: true,
        },
        dialog (val) {
          val || this.close()
        },
        dialogDelete (val) {
          val || this.closeDelete()
        },
      },
      props: [ 'rol','user_id' ],
      created: function(){

      },
      computed: {
        formTitle () {
          return this.editedIndex === -1 ? 'Nueva Captura' : 'Editar Captura'
        },
      },
      methods : {
        getData(){
          this.loading = true
          var url = route('capturas');
          let data = {
              desde : this.desde,
              hasta : this.hasta
          }
          axios.post(url, data).then(response =>{
            this.data = response.data.data;
            this.loading = false;
          }).catch(error =>{

          });
        },
        getColor(instalada) {
          if (instalada == 1) return 'green'
          else if (instalada == 0) return 'red'
          else return 'orange'
        },
        getStatus(status) {
          if (status == 1) return 'green'
          else if (status == 2) return 'red'
          else return 'orange'
        },
        editItem(item) {
          if(this.rol == 'Técnico'){
            item.user = this.user_id;
            this.getTrampas(this.user_id);
          }                      
          if(item.revisada == 1){
            item.revisada = true
          }
          else{
            item.revisada = false
          }
          this.getFenologiasArbol();
          this.getFenologiasBrote();
          this.getMotivos();
          this.getUser();
                   
          this.editedIndex = this.data.indexOf(item)
          this.editedItem = Object.assign({}, item)
          this.editedItem.motivo = parseInt(item.motivo);
          this.editedItem.nof = parseInt(item.nof);
          this.editedItem.suf = parseInt(item.suf);
          this.editedItem.esf = parseInt(item.esf);
          this.editedItem.oef = parseInt(item.oef);
          this.editItem.user = parseInt(this.user_id);
     
          if(item.revisada == 0){
            this.motivo = false;
          }
          else{
            this.motivo = true;
          }          
          this.dialog = true
        },
        close() {
          this.$refs.form.reset();    
          this.dialog = false
          this.trampas = [];
          this.editedItem.id = '';
          this.editedItem.siembra_id = ''
          this.editedItem.captura = 0
          this.editedItem.instalada = 0
          this.editedItem.revisada = 1
          this.editedItem.fenologia = 0
          this.editedItem.tecnico = 0
          this.editedItem.motivo = 0
          this.editedItem.user = 0
          this.editedItem.trampa = 0
          this.editedItem.name = ''
          this.editedItem.fecha = ''
          this.editedItem.noa = 0
          this.editedItem.non = 0
          this.editedItem.nof = 0
          this.editedItem.sua = 0
          this.editedItem.sun = 0
          this.editedItem.suf = 0
          this.editedItem.esa = 0
          this.editedItem.esn = 0
          this.editedItem.esf = 0
          this.editedItem.oea = 0
          this.editedItem.oen = 0
          this.editedItem.oef = 0
          this.editedIndex = -1    
        },
        save() {
          
          let validar = this.$refs.form.validate();

          let edit;
          let fecha;
          let ano;
          if(this.editedIndex > -1){
            edit = 1
            fecha = moment(this.editedItem.fecha,'DD-MM-YYYY').format('YYYY-MM-DD')
            ano =   moment(this.editedItem.fecha,'DD-MM-YYYY').format('YYYY')
          }
          else{
            edit = 0
            fecha = moment(this.editedItem.fecha,'YYYY-MM-DD').format('YYYY-MM-DD')
            ano =   moment(this.editedItem.fecha).format('YYYY')
          }            
          //Norte Adultos
          if(this.editedItem.noa == true)
            this.editedItem.noa = 1;
          else
            this.editedItem.noa = 0;
          //Norte Ninfas
          if(this.editedItem.non == true)
            this.editedItem.non = 1;
          else
            this.editedItem.non = 0;
          //Sur Adultos
          if(this.editedItem.sua == true)
            this.editedItem.sua = 1;
          else
            this.editedItem.sua = 0;
          //Sur Ninfas
          if(this.editedItem.sun == true)
            this.editedItem.sun = 1;
          else
            this.editedItem.sun = 0;
          //Este Adultos
          if(this.editedItem.esa == true)
            this.editedItem.esa = 1;
          else
            this.editedItem.esa = 0;
          //Este Ninfas
          if(this.editedItem.esn == true)
            this.editedItem.esn = 1;
          else
            this.editedItem.esn = 0;
          //Oeste Adultos
          if(this.editedItem.oea == true)
            this.editedItem.oea = 1;
          else
            this.editedItem.oea = 0;
          //Oeste Ninfas
          if(this.editedItem.oen == true)
            this.editedItem.oen = 1;
          else
            this.editedItem.oen = 0;
          if(this.editedItem.revisada == true)
            this.editedItem.revisada = 1;
          else  
            this.editedItem.revisada = 0;
          if(this.editedItem.instalada == true)
            this.editedItem.instalada = 1;
          else  
            this.editedItem.instalada = 0;
         
          let data = {
            fecha: fecha,
            ano : ano,
            trampa: this.editedItem.trampa,
            fenologia: this.editedItem.fenologia,
            num_insectos: this.editedItem.captura,
            nof: this.editedItem.nof,
            suf: this.editedItem.suf,
            esf: this.editedItem.esf,
            oef: this.editedItem.oef,
            noa : this.editedItem.noa,
            non : this.editedItem.non,
            sua : this.editedItem.sua,
            sun : this.editedItem.sun,
            esa : this.editedItem.esa,
            esn : this.editedItem.esn,
            oea : this.editedItem.oea,
            oen : this.editedItem.oen,
            user_id : this.editedItem.user,
            instalada : this.editedItem.instalada,
            edit : edit,
            captura_id : this.editedItem.id,
            revisada : this.editedItem.revisada,
            motivo : this.editedItem.motivo
          };

          if(validar == true){
            this.loading3 = true;
            var url = route('add-captura');
            axios.post(url,data).then(response => {
              if(response.data.estatus == true){
                this.getData();
                this.loading3 = false;
                this.close();
                this.snackbar = true;
                this.text = "Captura actualizada."
                this.trampas = [];
              }
            }).catch(error => { 
              this.loading3 = false;
            });
          }
        },
        deleteItem(item){
          this.editedIndex = this.data.indexOf(item)
          this.editedItem = Object.assign({}, item)
          this.dialogDelete = true
        },
        deleteItemConfirm(){
          this.loading3 = true;
          var url = route('delete-captura');
          let data = {
              captura_id : this.editedItem.id,
          }
          axios.post(url, data).then(response =>{
            if(response.data.estatus == true){
              this.data.splice(this.editedIndex, 1) 
              this.closeDelete()
              this.snackbar = true;
              this.text = "Captura eliminada"
              this.loading3 = false;
            }
            else{
              this.closeDelete()
              this.snackbar = true;
              this.text = "ocurrió un problema al eliminar"
              this.loading3 = false;
            }
          }).catch(error =>{
              this.closeDelete()
              this.snackbar = true;
              this.text = "ocurrió un problema al eliminar"
              this.loading3 = false;
          });
        },
        closeDelete(){
          this.dialogDelete = false
          this.trampas = [];
          this.$nextTick(() => {
            this.editedIndex = -1
          })
        },
        getFenologiasArbol(){
          var url = route('fenologias-arbol');
          axios.get(url).then(response => {
            this.arboles = response.data;
          }).catch(error =>{ 
            console.log(error); 
          });
        },    
        getFenologiasBrote(){
          var url = route('fenologias-brote');
          axios.get(url).then(response => {
            this.brotes = response.data;
          }).catch(error =>{ 
            console.log(error); 
          });
        },
        getMotivos(){
          var url = route('motivos');
          axios.get(url).then(response => {
            this.motivos = response.data;
          }).catch(error => { 
            console.log(error); 
          });
        },
        getUser(){
          var url = route('get-users');
          axios.get(url).then(response => {
            this.users = response.data;     
          }).catch(error => { 
            console.log(error); 
          });
        },
        getTrampas(user){
          var url = route('getTrampas');         
          let data = {
            user_id : user,
            edit : 0
          }
          axios.post(url,data).then(response => {
            this.trampas = response.data;
          }).catch(error => { 
            console.log(error); 
          });
        },
        getDesde(){
          this.menu = false;
          this.getData()
          this.disabledHasta = false;
        },
        getHasta(){
          let fecha = moment(this.hasta).isBefore(this.desde);
          if(fecha == true){
            this.snackbar = true;
            this.text = "La fecha de inicio no puede ser mayor que la de fin."
          }
          else{
            this.menuHasta = false;
            this.disabledHasta = false;
            this.getData()
          }
        },
        getRevisar(){
          if(this.editedItem.revisada == 0){
            this.motivo = false;
          }
          else{
            this.editedItem.motivo = 0; 
            this.motivo = true;
          }
        },
        enviarSicafi(){
          let filtrar = this.selected;
          filtrar.map(function(response,index){
              if(response.sicafi == 2 || response.sicafi == 1){
                filtrar.splice(index,1);
              }
          })
          if(filtrar.length == 0){
            this.snackbar = true;
            this.text = "No se seleccionó ningún registro para enviar a la capa de datos."
          }
          else{
            this.sicafi = true;
          }
        },
        exportarExcel(){
          this.excel = true;
          var url = route('actividad-exports',[ this.desde, this.hasta ]);         
          axios.get(url,{ responseType: 'blob' }).then(response => {
            this.excel = false;
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(
              new Blob([response.data])
            );
            link.setAttribute('download', 'capturas.xlsx');
            document.body.appendChild(link);
            link.click();
          }).catch(error => { 
            this.excel = false;
            this.snackbar = true;
            this.text = "Ocurrió un error"
          });
        },
        
      },
    }
</script>
