<template>
  <div class="content">
    <br>
    <v-app>
      <section class="content">
        <v-card>
          <v-card-title>
            <i class="fas fa-qrcode mr-1"></i>
              <h3 class="m-0">Listado de trampas</h3>
            <v-spacer></v-spacer>                
            <v-btn :hidden="rol == 'Técnico'" class="mx-2" fab dark small color="success" title="Exportar a excel" :disabled="data.length == 0" @click="exportarExcel()">
              <v-icon dark>
                mdi-file-excel
              </v-icon>
            </v-btn>
            <v-dialog v-model="excel" hide-overlay persistent width="500">
              <v-card color="success" dark>
                <v-card-text>
                  Exportando a excel....
                  <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card-text>
              </v-card>
            </v-dialog>
            <v-btn class="mx-2" fab dark small color="cyan" title="Imprimir etiquetas" :disabled="data.length == 0" @click="exportarPdf()">
              <v-icon dark>
                  mdi-qrcode
              </v-icon>
            </v-btn>
            <v-dialog v-model="etiqueta" hide-overlay persistent width="500">
              <v-card color="cyan" dark>
                <v-card-text>
                  Generando qr....
                  <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
                </v-card-text>
              </v-card>
            </v-dialog>
          </v-card-title>
          <v-card-subtitle>
            <v-row>
              <v-col></v-col>
              <v-col>
                <v-text-field
                  v-model="search"
                  append-icon="mdi-magnify"
                  label="Buscar.."
                  single-line
                  hide-details
                ></v-text-field>
              </v-col>
            </v-row>
          <v-snackbar
            v-model="snackbar"
            :timeout="timeout"
          >
            {{ text }}                    
          </v-snackbar>  
          </v-card-subtitle>
          <v-data-table
            v-model="selected"
            :headers="headers"
            :items="data"
            :single-select="singleSelect"
            item-key="id"
            show-select
            show-expand
            single-expand
            class="elevation-1"
            locale="es"
            :loading="loading"
            :search="search"
          >
          <template v-slot:expanded-item="{ headers, item }">
              <td :colspan="headers.length">
                  <div class="row sp-details">
                      <div class="col-4 text-right">
                          <br>
                              <vue-qr :text="item.id +'&'+ item.siembra_id +'&'+ item.name +'&'+ item.campo_id +'&'+ item.latitud +'&'+ item.longitud +'&'+ item.campo +'&'+ item.superficie" ></vue-qr>
                          <br><br>
                      </div>
                  </div>
              </td>
          </template>
          </v-data-table>
        </v-card>                      
      </section>
    </v-app>
  </div>
</template>
<script>
    export default {
      mounted() {
        this.getData()
      },
      data () {
        return {        
          etiqueta: false,
          excel: false,      
          loading: true,
          search: '',
          singleSelect: false,
          selected: [],
          headers: [
            { text: 'SiembraID', value: 'siembra_id', align: 'left', class: 'cyan' },
            { text: 'Trampa', value: 'name', class: 'cyan' },
            { text: 'Latitud', value: 'latitud', class: 'cyan' },
            { text: 'Longitud', value: 'longitud', class: 'cyan' },
            { text: 'Campo', value: 'campo', class: 'cyan' },
            { text: 'Arco', value: 'arco', class: 'cyan' },
            { text: 'Tecnico', value: 'nombre', class: 'cyan' },   
          ],
          data: [],
          arboles: [],
          brotes:  [],
          motivos: [],
          users:   [],
          trampas: [],
          snackbar: false,
          text : '',
          timeout: 4000,
        }
      },
      watch: {
        options: {
          handler () {
            this.getData()
          },
          deep: true,
        },
      },
      created: function(){

      },
      computed: {
        
      },
      props: [ 'rol','user_id' ],
      methods : {
        getData(){
          this.loading = true
          var url = route('trampas-list');
          axios.post(url).then(response =>{
            this.data = response.data.data;
            this.loading = false;
          }).catch(error =>{

          });
        },
        exportarExcel(){
          this.excel = true;
          var url = route('trampas-exports');
          axios.get(url,{ responseType: 'blob' }).then(response => {
            this.excel = false;
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(
              new Blob([response.data])
            );
            link.setAttribute('download', 'etiquetas.xlsx');
            document.body.appendChild(link);
            link.click();
          }).catch(error => { 
            console.log(error); 
          });
        },
        exportarPdf(){
          if(this.selected.length == 0){
            this.snackbar = true;
            this.text = "No se seleccionó ninguna trampa."
          }
          else{
            this.etiqueta = true;
            var url = route('qrs');
            let data ={
                selector : this.selected
            }
            axios.post(url,data,{ responseType: 'blob' }).then(response => {
              this.etiqueta = false;
              const link = document.createElement('a');
              link.href = window.URL.createObjectURL(
                new Blob([response.data])
              );
              link.setAttribute('download', 'etiquetas.pdf');
              document.body.appendChild(link);
              link.click();
            }).catch(error => { 
                console.log(error); 
            });
          }
        }       
      },
    }
</script>
