<template>
    <div class="content">
      <br>
      <div class='container'>
        <div class="row">
          <div class='col-md-12'>
            <div class="card" style="width: 100%">
                <img class="card-img-top" src="http://www.siafeson.com/assets/customs/simdia/img/slide/slide1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">SIMDIA</h5>
                    <p class="card-text">
                        El Sistema de Monitoreo de Diaphorina Citri (SIMDIA), es el resultado de un esfuerzo conjunto de todas las partes involucradas en la sanidad vegetal de los cítricos. El sistema fue concebido para ser una herramienta más de apoyo en la toma de decisiones de productores, técnicos y autoridades del Pais. El SIMDIA cuenta con diferentes componentes que lo hacen útil y versátil en el manejo de los datos, además de que se encuentra en constante renovación al incluir la componente científica como parte de su desarrollo. En esta primera etapa el SIMDIA está encaminado al análisis de los datos que toman los organismos auxiliares del vector Diaphorina Citri. ."
                    </p>
                </div>
                </div>
          </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <img src="http://www.siafeson.com/assets/customs/simdia/img/logos/siafeson.png">
            </div>
            <div class="col-md-4">
                <img src='http://www.siafeson.com/assets/customs/simdia/img/logos/cesave.png'>
            </div>
            <div class="col-md-4">
                <img src="http://www.siafeson.com/assets/customs/simdia/img/logos/senasica.png">
            </div>
        </div>
      </div>             
    </div>
</template>
<script>
    export default {
      mounted() {
          $("body").addClass('sidebar-collapse');
      },
    }
</script>
