<template>
   <div class="content">
    <br>
    <v-app>
      <section class="content">
          <v-card>
            <v-card-title>
              <i class="fas fa-user mr-1"></i>
                <h3 class="m-0">Usuarios </h3>
              <v-spacer></v-spacer>    
            </v-card-title>
            <v-card-subtitle>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Buscar.."
                    single-line
                    hide-details
                  ></v-text-field>
                </v-col>
              </v-row> 
               <v-snackbar
                  v-model="snackbar"
                  :timeout="timeout"
                >
                  {{ text }}                    
                </v-snackbar> 
            </v-card-subtitle>
            <v-data-table
              v-model="selected"
              :headers="headers"
              :items="data"
              item-key="id"
              class="elevation-1"
              locale="es"
              :loading="loading"
              :search="search"
            >
            <template v-slot:item.actions="{ item }">
              <v-btn class="mr-2" fab dark small color="warning" @click="editItem(item)">
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>
                <v-btn class="mr-2" fab dark small color="success" @click="viewItem(item)">
                <v-icon dark>
                  mdi-eye
                </v-icon>
              </v-btn>
            </template> 
            <template v-slot:top>   
                <v-dialog v-model="dialog" max-width="1000px" >
                  <v-card>
                    <v-card-title class="amber black--text">
                      <span class="text-h5">{{ formTitle }}</span>
                    </v-card-title>
                    <v-card-text>
                      <v-container>
                        <v-form
                          ref="form"
                          v-model="valid"
                          lazy-validation
                        >
                        <v-row>
                          <v-col cols="12" sm="12" md="12" >
                            <label class="h6">{{ editedItem.nombre }} ({{ editedItem.username }})</label>
                            <v-text-field
                                v-model="editedItem.contrasena"
                                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                :rules="PassRules"
                                :type="show1 ? 'text' : 'password'"
                                name="input-10-1"
                                label="Contraseña"
                                hint="At least 8 characters"
                                counter
                                @click:append="show1 = !show1"
                            ></v-text-field>
                           </v-col>
                         </v-row>
                        </v-form>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="blue-grey" class="ma-2 white--text" @click="close">
                          Cancelar
                        <v-icon right dark>
                          mdi-cancel
                        </v-icon>
                      </v-btn>
                      <v-btn  :loading="loading3" :disabled="!valid" color="amber" class="ma-2 white--text" @click="save">
                          Guardar
                        <v-icon right dark>
                          mdi-content-save
                        </v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
            </template>
            </v-data-table>
          </v-card>
      </section>
    </v-app>
   </div>
</template>
<script>
    export default {
      mounted() {
        this.getData();
      },
      data () {
        return { 
          valid: true,    
          search: '',
          PassRules: [
            v => !!v || 'Tiene que insertar contraseña',
            v => (v && v.length >= 8) || 'Debe tener mas de 8 caracteres',
          ],
          selected: [],
          dialog: false,
          loading: true,
          loading3: false,
          show1: false,
          headers: [
            { text: 'Nombre', value: 'nombre', align: 'left', class: 'amber' },
            { text: 'UserName', value: 'username', class: 'amber' },
            { text: 'PersonalID', value: 'personal_id', class: 'amber' },
            { text: 'Estatus', value: 'status', class: 'amber' },
            { text: '', value: 'actions', sortable: false, class: 'amber' },
          ],
          data: [],
          editedIndex: -1,
          editedItem: {
            id : '',
            personal_id: '',
            status: 1,
            nombre: '',
            contrasena : ''
          },
          snackbar: false,
          text : '',
          timeout: 4000,
        }
      },
      watch: {
        options: {
          handler () {
            this.getData()
          },
          deep: true,
        },
        dialog (val) {
          val || this.close()
        },
        dialogDelete (val) {
          val || this.closeDelete()
        },
      },
      props: [ 'rol', 'base_url' ],
      methods : {
        getData(){
          this.loading = true
          var url = route('get-users');
          axios.get(url).then(response =>{
            this.data = response.data;
            this.loading = false;
          }).catch(error =>{
              this.snackbar = true;
              this.text = "ocurrió un problema"
              this.loading3 = false;
          });
        },
        editItem(item) {
           this.editedIndex = this.data.indexOf(item)
           this.editedItem = Object.assign({}, item)
           this.dialog = true
        },
        viewItem(item) {
          return window.location.href = this.base_url + '/reportes/avances/'+item.id;
        },
        close() {
           this.dialog = false
        },
        save(){
           let validar = this.$refs.form.validate();
           let data = {
            userId: this.editedItem.id,
            contra: this.editedItem.contrasena,
          };

           if(validar == true){
            this.loading3 = true;
            var url = route('update-user');
            axios.post(url,data).then(response => {
              if(response.data.status == 'success'){
                this.getData();
                this.loading3 = false;
                this.close();
                this.snackbar = true;
                this.text = "Contraseña actualizada."
              }
            }).catch(error => { 
              this.loading3 = false;
            });
          }
        }
      }
    }
</script>