<template>
   <div class="content">
    <br>
    <v-app>
      <section class="content">
          <v-card>
            <v-card-title>
              <i class="fas fa-user mr-1"></i>
                <h3 class="m-0">Usuarios </h3>
              <v-spacer></v-spacer>    
            </v-card-title>
            <v-card-subtitle>
              <v-row>
                <v-col>
                  <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Buscar.."
                    single-line
                    hide-details
                  ></v-text-field>
                </v-col>
              </v-row> 
               <v-snackbar
                  v-model="snackbar"
                  :timeout="timeout"
                >
                  {{ text }}                    
                </v-snackbar> 
            </v-card-subtitle>
            <v-data-table
              v-model="selected"
              :headers="headers"
              :items="data"
              item-key="id"
              class="elevation-1"
              locale="es"
              :loading="loading"
              :search="search"
            >
            <template v-slot:item.actions="{ item }">
              <v-btn class="mr-2" fab dark small color="warning" @click="editItem(item)">
                <v-icon dark>
                    mdi-eye
                </v-icon>
              </v-btn>
            </template> 
            </v-data-table>
          </v-card>
      </section>
    </v-app>
   </div>
</template>
<script>
    export default {
      mounted() {
        this.getData();
      },
      data () {
        return { 
          valid: true,    
          search: '',
          PassRules: [
            v => !!v || 'Tiene que insertar contraseña',
            v => (v && v.length >= 8) || 'Debe tener mas de 8 caracteres',
          ],
          selected: [],
          dialog: false,
          loading: true,
          loading3: false,
          show1: false,
          headers: [
            { text: 'Nombre', value: 'nombre', align: 'left', class: 'blue' },
            { text: 'Registradas', value: 'username', class: 'blue' },
            { text: 'Revisadas', value: 'personal_id', class: 'blue' },
            { text: 'No revisadas', value: 'status', class: 'blue' },
            { text: 'Faltantes', value: 'status', class: 'blue' },
            { text: '% SIMDIA', value: 'status', class: 'blue' },
            { text: '% SICAFI', value: 'status', class: 'blue' },
            { text: '', value: 'actions', sortable: false, class: 'blue' },
          ],
          data: [],
          editedIndex: -1,
          editedItem: {
            id : '',
            personal_id: '',
            status: 1,
            nombre: '',
            contrasena : ''
          },
          snackbar: false,
          text : '',
          timeout: 4000,
        }
      },
      watch: {
        options: {
          handler () {
            this.getData()
          },
          deep: true,
        },
        dialog (val) {
          val || this.close()
        },
        dialogDelete (val) {
          val || this.closeDelete()
        },
      },
      props: [ 'base_url' ],
      methods : {
        getData(){
          this.loading = true
          var url = route('get-users');
          axios.get(url).then(response =>{
            this.data = response.data;
            this.loading = false;
          }).catch(error =>{
              this.snackbar = true;
              this.text = "ocurrió un problema"
              this.loading3 = false;
          });
        },
        editItem(item) {
          return window.location.href = this.base_url + '/reportes/avances/'+item.id;
        },
        close() {
           this.dialog = false
        },
        save(){
           let validar = this.$refs.form.validate();
           let data = {
            userId: this.editedItem.id,
            contra: this.editedItem.contrasena,
          };

           if(validar == true){
            this.loading3 = true;
            var url = route('update-user');
            axios.post(url,data).then(response => {
              if(response.data.status == 'success'){
                this.getData();
                this.loading3 = false;
                this.close();
                this.snackbar = true;
                this.text = "Contraseña actualizada."
              }
            }).catch(error => { 
              this.loading3 = false;
            });
          }
        }
      }
    }
</script>