<template>
  <div class="content">
    <br>
    <v-app color="transparent">
      <v-row>
        <v-col cols="12" md="12" sm="12" lg="8" >
          <h2 class="text-h4">Método de Inserción</h2>
          <v-row>
            <v-col cols="6" md="6" sm="6" lg="3">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ datos.telefono }}</h3>
                  <p>Teléfono</p>
                </div>
                <div class="icon">
                  <i class="fas fa-mobile"></i>
                </div>
              </div>
            </v-col>
            <v-col cols="6" md="6" sm="6" lg="3">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ datos.web }}</h3>
                  <p>Web</p>
                </div>
                <div class="icon">
                  <i class="fas fa-globe-americas"></i>
                </div>
              </div>
            </v-col>
            <v-col cols="6" md="6" sm="6" lg="3">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ datos.telefonoWeb }}</h3>
                  <p>Teléfono - Web</p>
                </div>
                <div class="icon">
                  <i class="fas fa-home"></i>
                </div>
              </div>
            </v-col>
            <v-col cols="6" md="6" sm="6" lg="3">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ datos.eliminadas }}</h3>
                  <p>Eliminadas</p>
                </div>
                <div class="icon">
                  <i class="fas fa-trash"></i>
                </div>
              </div>
            </v-col>
          </v-row>
          <h2 class="text-h4">Semana Actual</h2>
          <v-row>
            <v-col cols="6" md="4" sm="6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ datos.registradas }}</h3>
                  <p>Registradas</p>
                </div>
                <div class="icon">
                  <i class="fas fa-globe-americas"></i>
                </div>
              </div>
            </v-col>
            <v-col cols="6" md="4" sm="6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ datos.revisadas }}</h3>
                  <p>Revisadas</p>
                </div>
                <div class="icon">
                  <i class="fas fa-check-circle"></i>
                </div>
              </div>
            </v-col>
            <v-col cols="6" md="4" sm="6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ datos.noRevisadas }}</h3>
                  <p>No Revisadas</p>
                </div>
                <div class="icon">
                  <i class="fas fa-times-circle"></i>
                </div>
              </div>
            </v-col>
            <v-col cols="6" md="4" sm="6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ datos.faltantes }}</h3>
                  <p>Faltantes</p>
                </div>
                <div class="icon">
                  <i class="fas fa-minus-circle"></i>
                </div>
              </div>
            </v-col>
            <v-col cols="6" md="4" sm="6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ datos.simdia }}</h3>
                  <p>% SIMDIA</p>
                </div>
                <div class="icon">
                  <i class="fas fa-percent"></i>
                </div>
              </div>
            </v-col>
            <v-col cols="6" md="4" sm="6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ datos.sicafi }}</h3>
                  <p>% SICAFI</p>
                </div>
                <div class="icon">
                  <i class="fas fa-percent"></i>
                </div>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="6">
              <v-card>
                <v-card-title>
                  <i class="fas fa-vial mr-1"></i>
                  <h3 class="m-0">Avance SIMDIA</h3>
                  <v-spacer></v-spacer>
                </v-card-title>
                <pie-chart :chart-data="simdia" :height="250"></pie-chart>
                <br>
              </v-card>                 
            </v-col>
            <v-col md="6">
              <v-card>
                <v-card-title>
                  <i class="fas fa-vial mr-1"></i>
                  <h3 class="m-0">Avance SICAFI</h3>
                  <v-spacer></v-spacer>
                </v-card-title>
                <pie-chart :chart-data="sicafi" :height="250"></pie-chart>
                <br>
              </v-card>
            </v-col>
          </v-row>           
        </v-col>
        <v-col cols="12" md="12" sm="12" lg="4" >
          <v-col md="12">
            <v-card class="mx-auto" height="100%">
              <v-img src="https://cdn.vuetifyjs.com/images/lists/ali.png" height="300px" dark>
                <v-row class="fill-height">     
                  <v-card-title class="white--text pl-12 pt-12">
                    <div class="text-h5 pl-12 pt-12">{{ this.usuario }} </div>
                  </v-card-title>
                </v-row>
              </v-img>
              <v-card-title>
                <!--<h2 class="text-h4">Shirt Blouse</h2>-->
                <v-spacer></v-spacer>
              </v-card-title>
              <v-card-text class="text-h6 text-justify">
                En la semana {{ datos.semana }} el técnico lleva registradas {{ datos.registradas }} trampas de {{ datos.trampas }} con lo que hasta este momento lleva un {{ datos.simdia }}% de la meta semanal. Al sicafi lleva enviado el {{ datos.sicafi }}%.
              </v-card-text>
            </v-card>
          </v-col>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Buscar.."
            single-line
            hide-details
          ></v-text-field>
          <v-data-table
              v-model="selected"
              :headers="headers"
              :items="huertas"
              item-key="id"
              class="elevation-1"
              locale="es"
              :loading="loading"
              :search="search"
            >
              <template v-slot:item.actions="{ item }">
                <v-btn class="mr-2" fab dark small color="warning" @click="reporteHuerta(item)">
                  <v-icon dark>
                    mdi-eye
                  </v-icon>
                </v-btn>
              </template>
              <template v-slot:top>   
                <v-dialog v-model="dialog" fullscreen hide-overlay transition="dialog-bottom-transition" >
                  <v-card>
                    <v-toolbar
                      dark
                      color="primary"
                    >
                      <v-btn
                        icon
                        dark
                        @click="dialog = false"
                      >
                        <v-icon>mdi-close</v-icon>
                      </v-btn>
                      <v-toolbar-title>{{ huerta.nombre }}</v-toolbar-title>
                      <v-spacer></v-spacer>                        
                    </v-toolbar>
                    <v-card-text>
                      <v-container>
                        <v-row>
                          <v-col cols="12" md="2" sm="6" xs="6">
                            <div class="small-box bg-info">
                              <div class="inner">
                                <h3>{{ huerta.trampas }}</h3>
                                <p>Trampas</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-tree"></i>
                              </div>
                            </div>
                          </v-col>
                          <v-col cols="12" md="2" sm="6" xs="6">
                            <div class="small-box bg-info">
                              <div class="inner">
                                <h3>{{ huerta.superficie }}</h3>
                                <p>Superficie</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-chart-pie"></i>
                              </div>
                            </div>
                          </v-col>
                          <v-col cols="12" md="2" sm="6" xs="6">
                            <div class="small-box bg-info">
                              <div class="inner">
                                <h3>{{ huerta.arco }}</h3>
                                <p>Arco</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-globe-americas"></i>
                              </div>
                            </div>
                          </v-col>
                          <v-col cols="12" md="2" sm="6" xs="6">
                            <div class="small-box bg-info">
                              <div class="inner">
                                <h3>{{ huerta.estado }}</h3>
                                <p>Estado</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-globe-americas"></i>
                              </div>
                            </div>
                          </v-col>
                          <v-col cols="6" md="2" sm="6">
                            <div class="small-box bg-info">
                              <div class="inner">
                                <h3>{{ datos.semana }}</h3>
                                <p>Semana</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-calendar"></i>
                              </div>
                            </div>
                          </v-col>
                          <v-col cols="6" md="2" sm="6">
                            <div class="small-box bg-info">
                              <div class="inner">
                                <h3>{{ datos.ano }}</h3>
                                <p>Año</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-calendar"></i>
                              </div>
                            </div>
                          </v-col>
                        </v-row>
                        <h2 class="text-h4">Aplicación Química</h2>
                        <v-row>
                          <v-col cols="12" md="3" sm="12" xs="12">
                            <!-- small box -->
                            <div class="small-box bg-success">
                              <div class="inner">
                                <h3>{{ quimico.fecha }}</h3>
                                <p>Fecha</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-calendar"></i>
                              </div>
                            </div>
                          </v-col>
                          <v-col cols="6" md="2" sm="6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                              <div class="inner">
                                <h3>{{ quimico.semana }}</h3>
                                <p>Semana</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-calendar"></i>
                              </div>
                            </div>
                          </v-col>
                          <v-col cols="6" md="2" sm="6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                              <div class="inner">
                                <h3>{{ quimico.ano }}</h3>
                                <p>Año</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-calendar"></i>
                              </div>
                            </div>
                          </v-col>
                          <v-col cols="12" md="3" sm="6" xs="6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                              <div class="inner">
                                <h3>{{ quimico.producto }}</h3>
                                <p>Producto</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-vial"></i>
                              </div>
                            </div>
                          </v-col>
                          <v-col cols="12" md="2" sm="6" xs="6">
                            <!-- small box -->
                            <div class="small-box bg-success">
                              <div class="inner">
                                <h3>{{ quimico.tipo }}</h3>
                                <p>Tipo</p>
                              </div>
                              <div class="icon">
                                <i class="fas fa-vial"></i>
                              </div>
                            </div>
                          </v-col>
                        </v-row>
                        <br>
                        <h2 class="text-h4">Promedio de Adultos por trampa.</h2>
                        <v-row>
                          <v-col cols="12" md="12" sm="12" xs="12">
                              <line-chart  :chart-data="adultos" :height="100"></line-chart>
                          </v-col>
                        </v-row>
                        <br>
                        <h2 class="text-h4">Distribución Espacial de las trampas en la Huerta.</h2>
                        <v-row>
                          <v-col cols="12" md="12" sm="12" xs="12">
                              <GmapMap
                              :options="{
                                  zoomControl: true,
                                  mapTypeControl: true,
                                  scaleControl: true,
                                  streetViewControl: false,
                                  rotateControl: false,
                                  fullscreenControl: true,
                                  disableDefaultUi: false,
                                }"
                                :center="{lat: parseFloat(huerta.latitud), lng: parseFloat(huerta.longitud) }"
                                :zoom="18"
                                map-type-id="satellite"
                                style="height: 800px"
                              >
                                <GmapMarker
                                  :key="index"
                                  v-for="(m, index) in markers"
                                  :position="m.position"
                                  :clickable="true"
                                  :draggable="false"
                                  :title="m.title"
                                  :icon="m.icon"
                                  @click="clicked()"
                                />
                              </GmapMap>
                          </v-col>
                        </v-row>
                      </v-container>
                    </v-card-text>
                  </v-card>
                </v-dialog>                           
              </template>
          </v-data-table>
        </v-col>
      </v-row>
    </v-app>
    <br>
  </div>
</template>
<script>

import PieChart from '../PieChart.js'
import LineChart from '../LineChart.js'
import moment from "moment";

export default {
  components: {
    PieChart, LineChart
  },
  data(){
    return {
      dialog: false,
      loading: true,
      desde:  moment().startOf('week').format('YYYY-M-DD'),
      hasta:  moment().endOf('week').format('YYYY-M-DD'),
      selected: [],
      simdia: {},
      sicafi:{},
      adultos:{}, 
      markers:{},
      huertas: [],
      search: '',
      headers: [
          { text: 'Huerta', value: 'huerta', align: 'left', class: 'orange' },
          { text: 'Trampas', value: 'trampas', class: 'orange' },
          { text: 'Superficie', value: 'superficie', class: 'orange' },
          { text: '', value: 'actions', sortable: false, class: 'orange' },
        ], 
      datos: {
        telefono: 0,
        web: 0,
        telefonoWeb: 0,
        eliminadas: 0,
        tecnico: 0,
        registradas: 0,
        revisadas: 0,
        noRevisadas: 0,
        faltantes : 0,
        simdia: 0,
        sicafi: 0,
        trampas: 0,
        semana : 0,
        ano: 0
      },    
      quimico: {
        fecha: 0,
        semana: 0,
        ano: 0,
        producto: 0,
        dosis: 0,
        tipo: 0
      },
      huerta: {
        id: '',
        nombre: '--',
        trampas: 0,
        municipio: '--',
        estado: '',
        superficie: 0,
        arco : "--",
        latitud: 0,
        longitud : 0
      }
    }
  },
  watch: {
    options: {
      handler () {
        this.getData()
      },
      deep: true,
    }
  },
  mounted () {
    this.getData();
    this.loading = true
  },
  props: [ 'usuario','img', 'id' ],
  methods: {
    getData(){
      var url = route('avance');
      let data = {
          desde : this.desde,
          hasta : this.hasta,
          id : this.id
      }
      axios.post(url, data).then(response =>{
        this.datos.telefono = response.data.telefono;
        this.datos.web = response.data.web;
        this.datos.telefonoWeb = response.data.telefonoWeb;
        this.datos.eliminadas = response.data.eliminadas;
        this.datos.registradas = response.data.registradas;
        this.datos.revisadas = response.data.revisadas;
        this.datos.noRevisadas = response.data.noRevisadas;
        this.datos.faltantes = response.data.faltantes;
        this.datos.simdia = response.data.avance;
        this.datos.sicafi = response.data.avanceSicafi;
        this.datos.trampas = response.data.trampas;
        this.datos.semana = response.data.semana;
        this.datos.ano = response.data.ano;
        this.huertas = response.data.huertos;
        this.simdiaGrafica();
        this.sicafiGrafica();
        this.loading = false;
      }).catch(error =>{

      });
    },
    reporteHuerta(item) {
      if(item.campo_id == null){
        this.huerta.id = item.id;
      }
      else{
        this.huerta.id = item.campo_id;
      }
      this.huerta.nombre = item.huerta;
      this.huerta.trampas = item.trampas;
      this.huerta.superficie = item.superficie;
      this.huerta.arco = item.arco;
      this.huerta.estado = item.estado;
      this.huerta.latitud = item.latitud;
      this.huerta.longitud = item.longitud;
      this.promedioAdultosTrampa();
      this.getMarkers();

      var url = route('aplicacion-quimica',[this.huerta.id]);  
      axios.get(url).then(response =>{
        if(response.data.status == "success")
        {
          if(response.data.aplicacion != null){
            this.quimico.fecha = moment(response.data.aplicacion.fecha).format('DD MMMM');
            this.quimico.semana = response.data.aplicacion.semana;
            this.quimico.ano = response.data.aplicacion.ano;
            this.quimico.producto = response.data.aplicacion.producto;
            this.quimico.tipo = response.data.aplicacion.tipo;
          }
        }        
      });
      this.dialog = true
    },
    simdiaGrafica(){
      let falta = 100 - this.datos.simdia;
      this.simdia = {
        labels: ['Falta','Ok'],
        datasets: [
          {
            label: "Data One",
            backgroundColor: ["#E46651", "#00D8FF"],
            data: [falta, this.datos.simdia ]
          }
        ]
      }
    },
    sicafiGrafica(){
      let falta = 100 - this.datos.sicafi;
      this.sicafi = {
        labels: ['Falta','Ok'],
        datasets: [
          {
            label: "Data One",
            backgroundColor: ["#E46651", "#00D8FF"],
            data: [falta, this.datos.sicafi ]
          }
        ]
      }
    },
    promedioAdultosTrampa(){
      var url = route('promedio-adultos-trampas');
      let data = {
          campo_id : this.huerta.id,
          ano : 2022,
          arco : this.huerta.arco
      }
      axios.post(url, data).then(response =>{     
        this.adultos = {
        labels:  response.data.semanas,
        datasets: [
          {
            data: response.data.arco,
            label: "Arco",
            borderColor: "#3e95cd",
            fill: false
          },
          {
            data: response.data.huerta,
            label: "Huerta",
            borderColor: "#3cba9f",
            fill: false
          }
        ]
      }
      });
    },
    clicked() {
     //Poner aqui acciones al dar click en un punto del mapa
    },
    getMarkers() {
      var url = route('distribucion-espacial-trampas',[this.huerta.id]);  
      axios.get(url).then(response =>{
        if(response.data.status == "success")
        {
            var markers = [];
            for(let i = 0; i < response.data.trampas.length; i++){
              markers.push({
                position: { lat: parseFloat(response.data.trampas[i].latitud), lng: parseFloat(response.data.trampas[i].longitud) },
                title: response.data.trampas[i].name,
                icon: this.getSiteIcon(1) 
              });
          }
          this.markers = markers;    
        }        
      });
    },
    getSiteIcon(status) {
      try {
        switch (status) {
          case 1:
            return this.img + '/orange.png';
          break;
          default:
            return this.img + '/00FF00.png';
        }
      } catch (e) {
        return null;
      }
    },    
  }
}
</script>
<style>
  .theme--light.v-application{
    background: none !important;
    color: rgba(0,0,0,.87);
  }
</style>